<div class="cart-page">
    
    <h1>
        Cart Page
        <br><br>
    </h1>
    <div *ngIf="priceSummary.total==0">
        <p id="sorry">Sorry No ITEM In CART</p>
</div>
    <div class="row">
        <div class="col-sm-8 details">
            <ul *ngFor="let cart of cartData">
                
                <li>
                    <img src="{{cart.image}}" alt="">
                </li>
                <li>
                    <span> {{cart.name}}</span>
                </li>
                <li>
                    <span> Price:{{cart.price}}</span>
                </li>
                <li>
                    <span> Quantity:{{cart.quantity}} </span>
                </li>
                <li>
                    <button class="btn btn-primary" onclick="">Remove Item</button>
                </li>
            </ul>
          


        </div>
        <div class="col-sm-4 summary">
<h3>Summary</h3>
<ul>
    <li> <span>Amount:</span><span>{{priceSummary.price}}</span></li>
    <li> <span>Tax:</span><span>{{priceSummary.tax}}</span></li>
    <li> <span>Delivery Charges:</span><span>{{priceSummary.delivery}}</span></li>
    <li> <span>Discount:</span><span>{{priceSummary.discount}}</span></li>
    <li> <span><h4>Total:</h4></span><span>{{priceSummary.total}}</span></li>
    <button (click)="checkout()" class="btn btn-primary">Checkout</button>
</ul>
        </div>
    </div>
</div>
