<div class="product-list">
  <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Your Product has been Deleted successfully.
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <h1> Available Products
        
    </h1>
    <table>
        <thead>
<tr>
    <th>Image      </th>
    <th>Name       </th>
    <th>Price($)      </th>
    <th>Category   </th>
    <th>Color      </th>
    <th>Description</th>
    <th>Action     </th>

</tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of productList">
            <td><img src="{{item.image}}" /></td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.category}}</td>
            <td>{{item.color}}</td>
            <td>{{item.description}}</td>
            <td><i (click)="deleteProduct(item.id)" class="fa fa-trash" style="font-size:30px;color:red;"></i>
            &nbsp;  &nbsp; &nbsp;  &nbsp;
             <a routerLink="/seller-update-product/{{item.id}}"><i class="fa fa-edit" style="font-size:25px;color:rgb(77, 22, 150);"></i></a></td>
          </tr>
        </tbody>
    </table>
</div>
