<div class="card">
  <div class="text-center">
    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Success!</strong> Your Product Details has been entered successfully.
      <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h2> Enter Product Details </h2>`
    <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="common-form">
      <input type="text" class="form-input" placeholder="Enter Product name" name="name" required autofocus ngModel />
      <input type="text" class="form-input" placeholder="Enter Product price" name="price" required  ngModel />
      <input type="text" class="form-input" placeholder="Enter Product category" name="category" required  ngModel />
      <input type="text" class="form-input" placeholder="Enter Product color" name="color" required  ngModel />
      <textarea type="text" class="form-input" placeholder="Enter Product description" name="description" required 
        ngModel></textarea>
      <input type="text" class="form-input" placeholder="Enter Product Image url" name="Image" ngModel required  />
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit">
        <button type="button" (click)="onReset()" class="btn btn-warning float-right">Reset</button>
      </div>
    </form>
  </div>
</div>